:root {
  --place: rgb(165, 153, 42);
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: var(--place);
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--place);
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--place);
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--place);
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--place);
}

::placeholder {
  /* Most modern browsers support this now. */
  color: var(--place);
}

body {
  background-color: black;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Play", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img#mancha {
  width: 70%;
  height: auto;
  padding-top: 5%;
  margin-bottom: 20px;
}

.kune {
  float: left;
  width: 5%;
  padding: 20px;
  margin-left: 15%;
  margin-top: 5%;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: rgba(245, 245, 245, 0.897);
  font-size: 25px;
}

#jedan {
  padding-left: 4px;
  width: 50px;
  padding-bottom: 22px;
}

#dva {
  padding-left: 1px;
  width: 62px;
  padding-bottom: 20px;
  margin-left: -20%;
}

#pet {
  width: 72px;
  padding-bottom: 20px;
  margin-left: -40%;
}

.info {
  float: right;
  margin-left: 5%;
  margin-top: 60px;
  margin-right: 15%;
  padding: 5px;
  padding-right: 20px;

  height: 32%;
  width: auto;
  font-size: 15px;
}

.buttons {
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 25px;
  margin-top: 5px;
}

.but {
  border-radius: 30px;
  padding: 7px;
  margin: 5px;
  border: none;
  background-color: rgb(15, 30, 15);
  outline: none;
}

h3 {
  margin: 0;
  margin-bottom: 20px;
  padding: 2px;
  color: red;
}

#avg {
  color: rgba(250, 250, 52, 0.822);
}

#total {
  color: red;
}

#top {
  color: #66ff00b9;
}

.drugo {
  display: block;
  position: fixed;
  bottom: 10px;
  left: 24%;

  text-align: left;
  border-radius: 15px;
  padding-top: 15px;
  color: var(--place);
  width: 40%;

  outline: none;
  border: none;
  height: 40px;
  padding-left: 15px;
  margin-top: 20px;
  font-size: 30px;
  text-decoration: none;
  background-color: rgb(22, 22, 22);
}

#save {
  font-family: "IBM Plex Mono", monospace;
  color: rgba(5, 187, 5);
  font-weight: 500;
  margin-right: 25px;
  padding: 7px;
  padding-left: 18px;
  padding-right: 30px;
  font-size: 19px;
  border-radius: 20px;
  box-shadow: -2px 1px 7px;
}

#delete {
  font-family: "IBM Plex Mono", monospace;
  color: rgb(255, 0, 0);
  font-weight: 500;
  margin-left: 20px;
  padding: 7px;
  padding-left: 30px;
  padding-right: 18px;
  font-size: 19px;
  border-radius: 20px;
  background-color: rgb(30, 15, 15);
  box-shadow: 2px 1px 7px;
}

#current {
  color: rgba(245, 245, 245, 0.924);
}

#saveCustom {
  position: fixed;
  bottom: 8px;
  left: 9%;
  background-color: rgb(240, 225, 89);
  box-shadow: -20px 0px 100px -15px green;

  color: black;

  font-family: "IBM Plex Mono", monospace;

  padding-left: 17px;
  padding-right: 17px;
  font-size: 30px;

  margin-left: -3%;
  font-size: 30px;
  font-weight: 900;
}

#nukeDay {
  position: absolute;
  height: 45px;
  bottom: 10px;
  margin-left: 43%;
  padding: 3px;
  padding-top: 15px;
  color: red;
  border-radius: 50px;
  box-shadow: 20px 0px 100px -15px red;
}

h3#total {
  font-size: 20px;
}

ul {
  text-align: left;
}

img#comma {
  transition: ease-in-out 0.2s;
  height: 50px;
}

.title {
  margin-top: 20px;
}

#perc {
  color: rgba(251, 251, 251, 0.678);
}

#allDeliv {
  color: rgb(34, 255, 255);
  font-weight: 300;
}
